body {
background-color: aliceblue;
color: #2a2929;
}

.container {
    padding: 100px;
}

.title {
    font-size: 50px;
    color: rgb(43, 43, 43);
}

.desc-content {
    width: 30em;
}

.form-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.todo-input {
    outline: none;
    width: 50%;
    height: 30px;
    transition: 80.1ms;
    border-color: darkgray;
    box-shadow: none;
    padding-left: 10px;
}

.todo-input:focus {
    width: 70%;
    transition: 8.1ms;
    border-color: darkgray !important;
}

.todo-submit {
    border-color: darkgray;
    height: 25px;
    box-shadow: none;
    
}

.mixcol {
    margin: 0px;
  }  
  .cont{
    height: 100%;
    width: 100%;  
  }
  .top-bg {
    background-color: lightgrey;
    padding-top: 30px;
    height: 350px;
  }

  .tax {
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    top: -350px;
  }
  .pix {
    height: 390px;
    width:  390px;
    border-radius: 50%;
    margin: auto;
    border: solid;
    border-color: antiquewhite;
    border-width: 4px;
  }
  .potlio {
    font-size: 35px;
    font-weight: bold;
    color: rgb(20, 27, 29);
  }
  .btn-bg {
    background-color: darkgrey;
  }
  .pp {
    color: rgb(30, 39, 47);
    text-align: justify;
  }
 
.fb {
    width: 50px;
    height:30px;
}
.inst {
    width: 50px;
    height: 30px;
}
.tele {
    width: 50px;
    height: 30px;
}
.git {
    width: 50px;
    height: 30px;
}