body {
background-color: aliceblue;
color: #2a2929;
}

.container {
    padding: 100px;
}

.title {
    font-size: 50px;
    color: rgb(43, 43, 43);
}

.desc-content {
    width: 30em;
}

.form-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.todo-input {
    outline: none;
    width: 50%;
    height: 30px;
    transition: 80.1ms;
    border-color: darkgray;
    box-shadow: none;
    padding-left: 10px;
}

.todo-input:focus {
    width: 70%;
    transition: 8.1ms;
    border-color: darkgray !important;
}

.todo-submit {
    border-color: darkgray;
    height: 25px;
    box-shadow: none;
    
}

.bodbg {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        darkgray 0%,
        darkgray 50%,
        dimgray 50%,
        dimgray 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgs {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #333;
    
}

